@import url("../../../css/footer.css");
.feedBackDiv{
	width: 85%;
	margin:30px auto 0;
	border-top:1px solid #333;
	position:relative;
}
.innerFeed{
	margin-top: 20px;
}
.radiusSpan{
	width:5px;
	height: 5px;
	border-radius: 50%;
	background:#999999;
	float:left;
	margin-right: 15px;
	margin-top: 5px;
}
.feedTxt{
	width: 92%;
	font-size: 14px;
	color:#333;
}
.feedTxt p:nth-of-type(2){
	margin:5px 0;
}
.feedTxt p:last-child{
	color:#999;
}
.decBg{
	width: 169px;
	height: 150px;
	background:url(../images/feedBackBg.png) no-repeat;
	position:absolute;
	left: 50%;
	margin-left:-85px;
	top:50%;
	margin-top:-35px;
	background-size: cover;
}
@media all and (min-width:700px){
	.decBg{
		width:225px;
		height: 200px;
		background-size: cover;
		left: 50%;
		margin-left:-113px;
	}
}
