@import "../util.scss";
html,body{
    width:100%;
    height:100%;
    background:#e8e8e8;
}
#container{
    width:100%;
    max-width:pxToRem(640px);
    margin:0 auto;
    overflow: auto;
    padding-top:pxToRem(38px);
    &::-webkit-scrollbar{
        display: none;
    }
}
#main{
    width:100%;
    overflow: auto;
     &::-webkit-scrollbar{
        display: none;
    }
    .addrMsg{
        width:100%;
        height:43%;
        background:#FFFFFF;
        position:relative;
        p:nth-of-type(5){
            .inpt{
                width:100%;
                border:#efefef pxToRem(1px) solid;
                border-radius:pxToRem(10px);
                min-height: pxToRem(32px);
                font-size:pxToRem(16px);
            }
        }
        p{  
            padding: pxToRem(8px) pxToRem(18px);
            border-bottom: #efefef pxToRem(1px) solid;
            font-size:pxToRem(16px);
            input{
                border:none;
                outline: none;
            }
            textarea{
                 width:100%;
            }
           
        }
        p:nth-of-type(4){
            position:relative;
            input{
               font-size:pxToRem(12px);
            }
            span{
                font-size:pxToRem(12px);
                color:#aeaeae;
                position:fixed;
                right:pxToRem(25px);
            }
            b{
                font-size:pxToRem(12px);
                color:#aeaeae;
                position:fixed;
                right:pxToRem(18px);
            }
        }
        p:nth-of-type(6){
            margin-right:pxToRem(15px);
            input{
                float:right;
                
            }
        }
        
        
    }
    
    .btn{
        //@include flex(1);
        width:100%;
        background:#e8e8e8;
        //height:57%;
        p{
           width:90%;
           padding:pxToRem(22px) 5%;
           height:pxToRem(26px);
           a{
               display:inline-block;
               padding:pxToRem(6px) 0;
               width:100%;
               border-radius:pxToRem(20px);
               border:none;
               text-align: center;
               outline: none;
               background:#c92106;
               color:#FFFFFF;
               
           }
            
        }
    }
}
.transparent-bg {
    position: fixed;
    z-index: 996;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display:none;
    background-color:rgba(0, 0, 0, .5);
  }