@charset "utf-8";
/* 失败提示信息弹层 */
.alertDiv_fail,
.addCardDiv,
.confirmDiv,
.alertDiv_succ,
.addConfirm,
.delfirm{
	width: 250px;
	background: #fff;
	position: fixed;
	left:50%;
	margin-left:-125px;
	border-radius: 4px;
	z-index: 1000;
	top:50%;
	text-align: center;
	display: none;
}
.alertDiv_fail,
.addCardDiv,
.confirmDiv{
	height: 160px;
	/*margin-top: -80px;*/
}
.addConfirm{
	height:162px;
}
.delfirm{
	height: 120px;
}
.alertDiv_succ{
	height: 180px;
	/*margin-top: -90px;*/
}
.confirmDiv p,
.addConfirm p,
.delfirm p{
	color: #666666;
}
.confirmDiv p:first-child,
.addConfirm p:first-child,
.delfirm p:first-child{
	margin-top:30px;
}
.confirmImg{
	width: 83px;
	height:100px;
	background: url(../images/confirmBg.png) no-repeat;
	background-size: cover;
	position: absolute;
	right:-5px;
	top:-72px;
}
.decImg{
	width: 64px;
	height: 120px;
	background: url(../images/cryBg.png) no-repeat;
	background-size: cover;
	position: absolute;
	left: 50%;
	margin-left:-32px;
	top:-100px;
}
.succBg{
	width: 54px;
	height: 50px;
	background: url(../images/succ.png) no-repeat;
	background-size: cover;
	position: absolute;
	left: 50%;
	margin-left: -27px;
	top:5px;
}
.alertDiv_fail p,
.alertDiv_succ p{
	font-size: 16px;
	color: #666;
	text-align: center;
}
.alertDiv_fail p:first-child,
.alertDiv_succ p:first-child{
	margin-top: 30px;
}
.alertDiv_fail span,
.alertDiv_succ span{
	color:#f9a32e;
}
.alertDiv_fail button,
.alertDiv_succ button,
.comTwoBtns{
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	color: #fff;
	background: #4065a9;
	border:none;
	border-radius: 4px;
	margin-top:15px;
}
.alertDiv_fail button,
.alertDiv_succ button{
	width: 110px;
}
.comTwoBtns{
	width:80px;
}
.tBt_cancel{
	background:#ccc;
	color:#666;
	margin-right:10px;
}
.tBt_sure{
	background:#638ad1;
	color:#fff;
}
.comEditDiv{
	width:300px;
	background: #fff;
	border-radius: 4px;
	position: fixed;
	left: 50%;
	margin-left:-150px;
	top:200px;
	z-index: 1000;
	padding-bottom: 15px;
	display: none;
}
.comEditDiv .comInnerDiv{
	width: 100%;
	height: 0.4rem;
	line-height: 0.4rem;
	margin-top: 15px;
}
.comEditDiv .comInnerDiv span,
.comEditDiv .comInnerDiv input{
	float:left;
}
.comInnerDiv span{
	margin-left:15px;
	color:#333;
	font-size: 0.14rem;
}
.comInnerDiv span em{
	display: inline-block;
	width: 27px;
}
.comEditDiv .comInnerDiv input.comTxtInp{
	width: 60%;
	border:1px solid #b5b5b5;
	height: 0.38rem;
	line-height: 0.38rem;
	border-radius: 4px;
	background:#ececec;
	color:#666;
	padding-left: 5px;
}
input::-webkit-input-placeholder{
	color:#999;
}
.addTwoBtnDiv{
	width:100%;
	height:35px;
	line-height:35px;
	text-align:center;
	margin-bottom:10px;
}
.comFlInner{
	width:50%;
	height:100%;
	float:left;
}
/*toast*/
.toast-wrap{
      opacity: 0;
      position: fixed;
      bottom: 10%;
      color: #fff;
      width: 100%;
      text-align: center;
   }
   .toast-msg{
      background-color: rgba(0,0,0,0.7);
      padding: 8px;
      border-radius: 5px;
      font-size: 0.14rem;
   }
  .toastAnimate{
      animation: toastKF 2s;
  }
  @keyframes toastKF{
      0% {opacity: 0;}
     25% {opacity: 1; z-index: 9999}
     50% {opacity: 1; z-index: 9999}
     75% {opacity: 1; z-index: 9999}
     100% {opacity: 0; z-index: 0}
  }
/*loading层*/
.loadingDiv{
	width: 1rem;
	height: 1rem;
	/*position: absolute;*/
	position:fixed;
	left: 50%;
	margin-left:-0.5rem;
	top:50%;
	margin-top:-0.5rem;
	background:rgba(0,0,0,.6);
	border-radius: 8px;
	z-index: 900;
	color: #fff;
	text-align: center;
	display: none;
}
.loadingDiv p{
	margin-top: -25px;
}
.loadEffect{
    width: 100px;
    height: 100px;
    transform:scale(0.5);
    margin-top: -10px;
}
.loadEffect span{
    display: inline-block;
    width: 30px;
    height: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #fff;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite;
}
@-webkit-keyframes load{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}
.loadEffect span:nth-child(1){
    left: 0;
    top: 50%;
    margin-top:-5px;
    -webkit-animation-delay:0.13s;
}
.loadEffect span:nth-child(2){
    left: 10px;
    top: 20px;
    -webkit-transform: rotate(45deg);
    -webkit-animation-delay:0.26s;
}
.loadEffect span:nth-child(3){
    left: 50%;
    top: 10px;
    margin-left: -15px;
    -webkit-transform: rotate(90deg);
    -webkit-animation-delay:0.39s;
}
.loadEffect span:nth-child(4){
    top: 20px;
    right:10px;
    -webkit-transform: rotate(135deg);
    -webkit-animation-delay:0.52s;
}
.loadEffect span:nth-child(5){
    right: 0;
    top: 50%;
    margin-top:-5px;
    -webkit-transform: rotate(180deg);
    -webkit-animation-delay:0.65s;
}
.loadEffect span:nth-child(6){
    right: 10px;
    bottom:20px;
    -webkit-transform: rotate(225deg);
    -webkit-animation-delay:0.78s;
}
.loadEffect span:nth-child(7){
    bottom: 10px;
    left: 50%;
    margin-left: -15px;
    -webkit-transform: rotate(270deg);
    -webkit-animation-delay:0.91s;
}
.loadEffect span:nth-child(8){
    bottom: 20px;
    left: 10px;
    -webkit-transform: rotate(315deg);
    -webkit-animation-delay:1.04s;
}
.comTwoBtn{
	width: 80px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #fff;
	background: #4065a9;
	border:none;
	border-radius: 4px;
	margin-top:15px;
}
.twoBtn_cancel{
	background: #b5b5b5;
	color:#666
}
.twoBtn_sure{
	background: #4065a9;
	margin-left: 10px;
}
.twoBtn_other{
	background: #f9a32e;
}
