@import "../util.scss";
html,body{
    width:100%;
    height:100%;
}
#container {
    width: 100%;
    height: 100%;
    max-width: pxToRem(640px);
    margin: 0 auto;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

#main{
    width:94%;
    padding-left:3%;
    padding-right:3%;
    margin-top:pxToRem(78px);
    @include flexBox;
    flex-wrap: wrap;
    align-content: space-between;
    -webkit-flex-wrap: wrap;
    a{
        display:inline-block;
        width:33%;
        height:pxToRem(50px);
        text-align:center;
        //border:#e9e9e9 pxToRem(1px) solid;
        //box-sizing: border-box;
        img{
            width:100%;
            height:100%;
        }
    }
}
